workflows/FLIvsduSHCMhEzkZ.json
{
  "active": true,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "triggerCreated": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "triggerUpdated": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-09T21:41:45.188Z",
  "id": "FLIvsduSHCMhEzkZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG-Pinecone",
  "nodes": [
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{json.name}}"
              }
            ]
          }
        }
      },
      "id": "83ea24fa-a72a-419e-90d5-8c6be7150dd8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        460,
        600
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "928a56c5-0c6e-48b1-be04-7704b7dc46b9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        460,
        800
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json.id}}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          },
          "fileName": "={{ $json.id }}"
        }
      },
      "id": "6979519d-eda7-438c-9d39-cb60d10a53db",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tffgympi1PA8yOJL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e4f7ffc2-d4c5-4c88-bc67-9defcf57290d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        340,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "BmqwPw17lgbW5yKT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "oposiciones",
          "mode": "list",
          "cachedResultName": "oposiciones"
        },
        "options": {
          "pineconeNamespace": "oposiciones-365"
        }
      },
      "id": "21daf870-4018-4e4d-b292-fc893b02d5a3",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        320,
        320
      ],
      "credentials": {
        "pineconeApi": {
          "id": "ZyGfVYcNjHP6C3e5",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ekvCcZp0OjfWdfVpvEagltp9d2h1ptRj",
          "mode": "list",
          "cachedResultName": "RAG_Archivos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ekvCcZp0OjfWdfVpvEagltp9d2h1ptRj"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f23db51d-7a30-413a-a6b0-46152cf0e783",
      "name": "triggerCreated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        540
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tffgympi1PA8yOJL",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VXOcDt4_EDF6zT6Dfpl9oIaljtWdzY6b",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VXOcDt4_EDF6zT6Dfpl9oIaljtWdzY6b"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "14f5534b-bf54-43d2-b88d-4bffbc6b9b3a",
      "name": "triggerUpdated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tffgympi1PA8yOJL",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7l7XYSBcMEYlEgxq"
  },
  "staticData": {
    "node:triggerEveryDay": {
      "lastTimeChecked": "2024-10-12T07:00:51Z"
    },
    "node:triggerEveryMinute": {
      "lastTimeChecked": "2024-11-12T13:00:46Z"
    },
    "node:triggerCreated": {
      "lastTimeChecked": "2025-02-27T13:00:00Z"
    },
    "node:triggerUpdated": {
      "lastTimeChecked": "2025-02-25T13:00:28Z"
    }
  },
  "tags": [
    {
      "createdAt": "2024-10-09T21:41:43.998Z",
      "updatedAt": "2024-10-09T21:41:43.998Z",
      "id": "YCg5oH659h3HeInQ",
      "name": "RAG"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-02-17T07:45:28.000Z",
  "versionId": "665d1e3e-ae91-4717-9582-79cf2a5bc02c"
}