workflows/MCXovZwrPkFvZU5v.json
{
  "active": false,
  "connections": {
    "Title": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News Reporter": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "News to Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Perplexity API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity API": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity_tool": {
      "ai_tool": [
        [
          {
            "node": "News Reporter",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "News Reporter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Title",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Final article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Leader 🔬": {
      "main": [
        [
          {
            "node": "Project Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Project Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Delegate to Research Assistants": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          },
          {
            "node": "Research Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Assistant": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Planner": {
      "main": [
        [
          {
            "node": "Delegate to Research Assistants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Research Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Research Leader 🔬",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Project Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Title1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "News Reporter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Leader 🔬",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor": {
      "main": [
        [
          {
            "node": "Title1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity_tool2": {
      "ai_tool": [
        [
          {
            "node": "Research Leader 🔬",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity_tool1": {
      "ai_tool": [
        [
          {
            "node": "Research Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "News to Monitor": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Editor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Title1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-07T07:46:54.824Z",
  "id": "MCXovZwrPkFvZU5v",
  "meta": null,
  "name": "AI News Research Team",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 14
            }
          ]
        }
      },
      "id": "98f6735b-28d7-498e-ad87-994bb0daad5a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1120,
        380
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "options": {}
      },
      "id": "2b76c871-1fde-4beb-9f14-6adbeca0d51d",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        380,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Suggest an appropriate title of email that summarizes this content. Just one sentence output please in plain text.\n {{ $json.output }}"
      },
      "id": "d248fb37-4bf5-407d-b20e-43ffeaae5885",
      "name": "Title",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        560,
        0
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=News to monitor : {{ $json.event }}\nTime window to monitor : {{ $json.time_window }}",
        "options": {
          "systemMessage": "=You are a professional news monitoring assistant. Monitor and analyze key events to provide clear, factual summaries with verified sources.\n\nFocus Areas:\n- Business & Economy\n- Technology\n- Global Events\n- Policy Changes\n- Industry-specific news [user to specify industries]\n\nSource Requirements:\n- Include at least 2-3 reputable sources per major event\n- Format citations as [Source Name](URL)\n- Prioritize primary sources and established news organizations\n- Include publication date for each source\n- Note if information is from press releases, official statements, or news reports\n\nGuidelines:\n- Verify all information against multiple sources\n- Include timestamps for time-sensitive information\n- Distinguish between facts and analysis\n- Highlight conflicting reports when relevant\n- Use markdown for formatting\n- Include direct quotes when significant\n- Update with breaking news as available (Current date: {{ $today }})\n\nDaily Report Template:\n# News Summary Report\n**Date: [Current Date]**\n\n## TOP DEVELOPMENTS\n\n### 1. [Most Important Event]\n**Summary:**\n- What Happened: [1-2 sentences]\n- Why It Matters: [1 sentence impact]\n- Key Statistics: [Relevant data points]\n\n**Sources:**\n- [Source 1 Name](URL) - [Date]\n- [Source 2 Name](URL) - [Date]\n\n**Action Needed:**\n- [Clear next step]\n\n[Repeat format for events 2 and 3]\n\n## WATCH LIST\n- [Emerging trend/situation] - Source: [Citation]\n- [Potential upcoming event] - Source: [Citation]\n\n## RECOMMENDED ACTIONS\n### Immediate (24-48 hours):\n- [Action item]\n- [Action item]\n\n### This Week:\n- [Action item]\n- [Action item]\n\n"
        }
      },
      "id": "1fbecabb-2190-424b-b0f8-1f50577b11fa",
      "name": "News Reporter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        0
      ],
      "retryOnFail": true,
      "typeVersion": 1.6
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        460,
        1020
      ],
      "id": "2214c9b0-9718-4c3f-a8dc-524b0ba42c14",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33b7b279-e993-45cf-9e34-37a29a5819ee",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}\n\nCitations:\n{{ $json.citations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        1020
      ],
      "id": "fbce47e4-9e46-4571-863d-39beba6d7e7c",
      "name": "Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-reasoning\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional news monitoring assistant. Monitor and analyze key events to provide clear, factual summaries with verified sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.query.query }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"search_recency_filter\": \"{{ $json.query.window }}\",\n  \"return_related_questions\": false,\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        1020
      ],
      "id": "fb575477-96b3-4a2f-8af6-401a9e02a293",
      "name": "Perplexity API"
    },
    {
      "parameters": {
        "content": "## Perplexity\n-  Get account and API key from https://www.perplexity.ai/settings/api\n- Set API key in the Perplexity API node\n- **Credential** \n   Name : Authorization \n   Value: Bearer <api-key value>",
        "height": 274,
        "width": 1214,
        "color": 7
      },
      "id": "389665b2-0615-4572-a6f8-0b60c5fb36ce",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "perplexity_ai_search",
        "description": "Useful when conducting research using Perplexity AI online model. When using tool, all string values must be properly escaped, especially for multi-line strings",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id}}",
          "cachedResultName": "={{ $workflow.id}}"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"perplexity search term\"\n     },\n    \"window\" :{\n       \"type\": \"string\",\n       \"description\": \"the time window to query. Can be day, week, month\"\n\t}\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        160,
        180
      ],
      "id": "09047b76-0830-4b09-abd5-a9afde99a2be",
      "name": "Perplexity_tool"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        0,
        180
      ],
      "id": "a544fb5c-ea06-4a42-8fe2-eac9365d5247",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        640,
        180
      ],
      "id": "3b71546f-b0f8-4ad6-8d18-5b104723978f",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ab064c5-35c8-4604-993a-e1bede60a911",
              "name": "event",
              "value": "={{ $json.Monitor }}",
              "type": "string"
            },
            {
              "id": "7a494cc3-ee2a-4354-80f8-d0c3caf3237a",
              "name": "detailed",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "5b1619aa-3bd5-46f6-b520-9b525132e362",
              "name": "time_window",
              "value": "day",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        380
      ],
      "id": "b0ca7a5a-6f37-45ae-aa3a-d385b5dcd881",
      "name": "Settings"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "6613b3c7-1c16-41f5-9c04-d3b3f977e96d",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        1500,
        520
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Project Planner').first().json.output.introduction;\n\nfor (const item of $input.all()) {\n  article += \"<strong>\" + item.json.title + \"</strong>\";\n  article += item.json.output;\n  article += \"<br>\";\n}\n\n// Conclusions\narticle += \"<strong> Conclusions </strong>\";\narticle += $('Project Planner').first().json.output.conclusions;\n\n\nreturn [\n  {\n    \"article\": article\n  }\n];"
      },
      "id": "5eed543b-0dd5-4917-b808-3d32b2b86e8c",
      "name": "Final article text",
      "type": "n8n-nodes-base.code",
      "position": [
        1840,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic to research: {{ $json.event }}",
        "options": {
          "systemMessage": "=You are Research Leader specialized in comprehensive topic analysis, research and content structuring. Your task is to create an enriched, research-backed table of contents for a given topic. \n\nFollow these steps:\n1. Analyze the provided topic thoroughly.\n\n2. Conduct web research to gather current insights, trends, and expert perspectives on the topic.\n\n3. Synthesize the gathered information to identify:\n   - Core concepts and principles\n   - Current trends and developments\n   - Expert opinions and best practices\n   - Real-world applications and examples\n   - Potential challenges and solutions\n\n4. Create a comprehensive table of contents that:\n   - Reflects both foundational knowledge and current developments\n   - Incorporates relevant case studies and examples\n   - Addresses common questions and concerns\n   - Includes practical applications and future implications\n\n5. Structure the content hierarchically, ensuring:\n   - Logical flow and progression\n   - Clear relationships between sections\n   - Balanced coverage of theoretical and practical aspects\n   - Integration of research-backed insights\n\nPlease format your response as follows:\n\nTopic Analysis:\n[Brief overview of the topic and its significance based on current research]\n\nKey Research Insights:\n- [Insight 1 from web research]\n- [Insight 2 from web research]\n- [Insight 3 from web research]\n\nProposed Table of Contents:\n\nI. Introduction\n   A. Topic Overview and Current Relevance\n   B. Key Trends and Developments\n   C. Why This Matters Now\n\nII. Background and Context\n    A. Historical Development\n    B. Fundamental Concepts\n    C. Current State of the Field\n\nIII. [Main Theme 1 from Research]\n     A. [Key Finding/Aspect]\n     B. [Expert Perspectives]\n     C. [Real-world Applications]\n\nIV. [Main Theme 2 from Research]\n    A. [Key Finding/Aspect]\n    B. [Case Studies]\n    C. [Practical Implications]\n\n[Continue with additional research-based sections]\n\nIX. Future Perspectives\n    A. Emerging Trends\n    B. Potential Developments\n    C. Recommendations\n\nX. Conclusion\n   A. Summary of Key Insights\n   B. Actionable Takeaways\n   C. Final Thoughts\n\nResearch Sources:\n[List of key sources consulted]\n\nUsage Instructions:\n1. Provide a specific topic you want to analyze\n2. The AI will conduct web research using available tools including perplexity_ai_search tool\n3. Based on the research, it will generate a comprehensive, current, and well-structured table of contents\n4. Each section will be enriched with recent findings and expert insights\n5. The final structure will be suitable for various content formats (blog posts, articles, whitepapers)\n\nToday's date is {{ $now }}"
        }
      },
      "id": "9fe97fb3-8d8c-4054-98af-6e42e837c20c",
      "name": "Research Leader 🔬",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        0,
        520
      ],
      "typeVersion": 1.6,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subtitle\": {\n      \"type\": \"string\"\n    },\n    \"introduction\": {\n      \"type\": \"string\"\n    },\n    \"conclusions\": {\n      \"type\": \"string\"\n    },\n    \"imagePrompt\": {\n      \"type\": \"string\"\n    },\n    \"chapters\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"prompt\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"title\",\n          \"prompt\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"subtitle\",\n    \"introduction\",\n    \"conclusions\",\n    \"imagePrompt\",\n    \"chapters\"\n  ]\n}"
      },
      "id": "4ca79ed2-40a9-4cc3-a8cb-226bfe2c794e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        640,
        720
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.chapters",
        "options": {}
      },
      "id": "771ff37b-4a67-438b-a3aa-e011164cee0e",
      "name": "Delegate to Research Assistants",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        840,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a chapter for the article: {{ $('Project Planner').item.json.output.subtitle }}\n\nWrite the chapter titled {{ $json.title }}that {{ $json.prompt }}.\n\nMake sure to include citations in the final output.  They are provided by the perplexity_ai_search tool\n\n\n",
        "options": {
          "systemMessage": "=You are a dedicated Research Assistant AI agent, working as part of a research team under the guidance of a Research Leader and Project Planner. Your task is to write a chapter in the as part of the overall research into a topic.\n\nGuidelines:\n- Just return the plain text for each chapter (no JSON structure).\n- Use the perplexity_ai_search tool to research the topic in the chapter\n- Use html format for output\n- Don't add internal titles or headings.\n- The length of each chapther should be around 350 words long- Go deep in the topic you treat, don't just throw some superficial info\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The promt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters what writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article.\n- Please write in a style that is professional\n- Please use the perplexity online tool as source of information to use to write the chapter\n- Make sure to include citations from the perplexity_ai_search tool in your writing\n\nCitation Guidelines:\n- Use the perplexity_ai_search tool to gather information and cite sources\n- For each major claim or piece of information, include a hyperlinked inline citation\n- Format citations as HTML links with descriptive text:\n  <a href=\"[URL]\">[Source: Publication Name]</a>\n  Examples of proper citation format:\n  - \"According to recent data <a href=\"https://www.mckinsey.com/article-url\">[Source: McKinsey & Company]</a>...\"\n- When directly quoting from a source, use quotation marks and include the citation\n- Integrate citations naturally into the flow of the text without disrupting readability\n- Ensure all cited information is relevant and supports the chapter's main points\n- Verify that citations are accurate and come directly from the perplexity_ai_search results\n- Balance cited content with original analysis and synthesis\n- When citing statistics or specific data points, include the year if available in the citation\n\n\nContent Integration:\n- Smoothly blend cited information with original analysis\n- Use transitions to connect cited material with your own insights\n- Maintain the specified tone while incorporating citations\n- Ensure citations support rather than dominate the narrative\n- Use a mix of paraphrasing and direct quotes when citing sources\n\nSources Section Requirements:\n- At the end of your chapter, include a \"Sources\" section\n- Format the sources section as follows:\n\n<hr>\n<h3>Sources</h3>\n<ul>\n<li><a href=\"[URL]\">[Publication Name] - [Article Title]</a></li>\n[Additional sources...]\n</ul>\n\nSource List Guidelines:\n- List each unique source used in your chapter\n- Include the full URL from the perplexity_ai_search results\n- Order sources alphabetically by publication name\n- Include article titles when available\n- Each source should only appear once in the list\n- Ensure all URLs are functional and properly formatted\n- Include all sources referenced in your in-text citations\n- Match source names exactly as used in in-text citations\n\nExample Source Entry:\n<li><a href=\"https://www.mckinsey.com/article-path\">McKinsey & Company - The Future of AI in Business</a></li>\n\nQuality Control:\n- Verify that every in-text citation has a corresponding entry in the Sources section\n- Check that all URLs are complete and accurate\n- Ensure consistency between in-text citation names and source list entries\n- Confirm all cited information is relevant and supports the chapter's main points\n- Balance cited content with original analysis and synthesis\n\n\nToday's date is : {{ $now }}\n"
        }
      },
      "id": "6b67640e-5938-4f46-82c2-c3835b902992",
      "name": "Research Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1080,
        520
      ],
      "retryOnFail": true,
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for a SEO-friendly article.  \n\nPlease use this set of topics to create chapters:\n{{ $json.output }}\n\n\nInstructions:\n- Place the article title in a JSON field called `title`\n- Place the subtitle in a JSON field called `subtitle`\n- Place the introduction in a JSON field called `introduction`\n- In the introduction introduce the topic that is then explored in depth in the rest of the text\n- The introduction should be around 100 words\n- Place the conclusions in a JSON field called `conclusions`\n- The conclusions should be around 100 words\n- Use the conclusions to sum all said in the article and offer a conclusion to the reader\n- The image prompt will be used to produce a photographic cover image for the article and should depict the topics discussed in the article\n- Place the image prompt in a JSON field called `imagePrompt`\n- There should be 5 chapters.\n- For each chapter provide a title and an exaustive prompt that will be used to write the chapter text.\n- Place the chapters in an array field called `chapters`\n- For each chapter provide the fields `title` and `prompt`\n- The chapters should follow a logical flow and not repeat the same concepts.\n- The chapters should be one related to the other and not isolated blocks of text. The text should be fluent and folow a linear logic.\n- Don't start the chapters with \"Chapter 1\", \"Chapter 2\", \"Chapter 3\"... just write the title of the chapter\n- For the title and the capthers' titles don't use colons (`:`)\n- For the text, use html format\n- Please write in a style that is professional\n- Go deep in the topic you treat, don't just throw some superficial info\n- Please use perplexity tool as source to do research on the topics needed to create the chapter:\n\nToday's date is : {{ $now }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "fe7cddb0-8762-4036-94cf-f59bd2c6130b",
      "name": "Project Planner",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        460,
        520
      ],
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Research Leader 🔬\nBuild table of contents\n\n",
        "height": 428.96012242189374,
        "width": 457.8111495531946,
        "color": 7
      },
      "id": "3882d983-cd05-45be-81f4-3c86a7f3a374",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1100,
        720
      ],
      "id": "8aae7a26-67b9-4d1c-88d5-6dbeff2230cf",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        20,
        720
      ],
      "id": "af40c549-7b67-40ed-b3bb-51755a380467",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        480,
        720
      ],
      "id": "e334776c-422f-4e91-a67d-151fad0d143b",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "content": "## Plan the work and Delegate to writers 📅\n",
        "height": 430.74703747002076,
        "width": 576.6288165877254,
        "color": 7
      },
      "id": "32d4b1a7-d227-42eb-ad2c-c239c30aa2b7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Team of Research Assistants  ✍️\nEach Assistant works on a chapter",
        "height": 434.28473716292865,
        "width": 677.4186673497638,
        "color": 7
      },
      "id": "11d483c5-5720-4932-b87f-fb29e2f2c4d5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Editor polishing draft 📝 ",
        "height": 428.9420572202205,
        "width": 650.6330068295307,
        "color": 7
      },
      "id": "2064680f-2d17-42f4-acdf-ceb3c0892074",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Suggest an appropriate title of email that summarizes this content. Just one sentence output please in plain text.\n {{ $json.output }}"
      },
      "id": "a4dce5e2-679a-4be2-b46a-658a2b5057f7",
      "name": "Title1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2460,
        520
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "sendTo": "derekcheungsa@gmail.com",
        "subject": "={{ $json.text.replaceAll('\\\"','') }}",
        "message": "={{ $('Editor').item.json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "e54ba53d-b600-4916-8705-e992ab179e11",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2960,
        680
      ],
      "typeVersion": 2.1,
      "webhookId": "9fa071b3-3abc-4572-baa6-b3155d513b80"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.detailed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "brief"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5c36501-00ab-424f-9310-acddc0b8c935",
                    "leftValue": "={{ $json.detailed }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "detailed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        380
      ],
      "id": "0419474a-1b8a-4250-a6b3-5e1789a97c46",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Article to edit:\n {{ $json.article }}\n\nProvide polished output in html format. ",
        "options": {
          "systemMessage": "=You are an expert Editor specializing in refining and polishing content to ensure it meets the highest quality standards. Your role is to review and improve the written material produced by multiple Writers while maintaining academic integrity and proper source attribution. Your task is to provide a highly polished, SEO-optimized article with proper citation management that respects the original content.\n\nContent Review Instructions:\nReview the content while maintaining its core message and key points\nFix only clear grammar, spelling, and punctuation errors\nPreserve the original tone and voice\nEnsure content alignment with the original brief\nMake minimal adjustments to sentence structure, focusing only on clarity\nOptimize headlines and subheadings without changing their core meaning\n\nContent Preservation Rules:\nNever remove substantive content\nMaintain all original examples and illustrations\nPreserve section ordering\nKeep all relevant details and supporting points\nRetain nuanced language and specific terminology\n\nCitation Management Instructions:\nPreserve all inline citations from the original writers in the format: [Source: Publication Name].\nEnsure all inline citations are hyperlinked by embedding the publication name in the citation with the corresponding URL. Example: [Source: [Publication Name](URL)].\nIdentify and remove any duplicate citations across different sections.\nStandardize citation formats if writers used different styles.\nVerify that all cited claims are properly attributed.\nEnsure citations don't disrupt the flow of reading.\nCross-reference all inline citations with their corresponding source links.\n\nUnified Source Documentation Format:\nCreate ONE \"Sources\" section at the very end of the article (after the conclusions section).\n\nFormat each source entry consistently using HTML list items:\n\nhtml\n\n<li><a href=\"[URL]\">[Publication Name] - [Article Title]</a></li>\nInclude for each source:\n\nPublication Name\nArticle Title (if available)\nComplete URL\nDate Accessed (if available)\nEnsure all source entries are hyperlinked properly.\n\nOrganize all sources alphabetically by publication name.\n\nRemove any duplicate entries.\n\nVerify all links are functional.\n\nSEO and Formatting Guidelines:\nMaintain proper HTML formatting throughout.\nEnsure citations and hyperlinks don't interfere with keyword optimization.\nFormat the \"Sources\" section with proper HTML tags.\nUse appropriate heading tags (<h1>, <h2>, <h3>) for structure.\nInclude proper meta descriptions and title tags if required.\nOutput Format:\nThe edited article should be structured as follows:\n\nMain content with inline citations (hyperlinked).\n\"Sources\" section at the end of the article with all reference links. There should only be one \"Sources\" section.\n\nAdditional Requirements:\nMaintain academic integrity while ensuring readability.\nBalance SEO optimization with proper citation practices.\nEnsure all writers' contributions are properly attributed.\nPreserve the original meaning and intent of cited material.\nCreate smooth transitions between sections from different writers.\n\nToday's date is: {{ $now }}"
        }
      },
      "id": "151c7ea0-aa2f-433e-aae8-a5dd9f6bec30",
      "name": "Editor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2040,
        520
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "sendTo": "derekcheungsa@gmail.com",
        "subject": "={{ $json.text.replaceAll('\\\"','') }}",
        "message": "={{ $('Markdown').item.json.data }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1080,
        120
      ],
      "id": "fe8771a4-b366-4fd4-b4b3-57a45a1bdfee",
      "name": "Gmail2",
      "webhookId": "17719da8-339e-4737-b675-1baaad847fd5"
    },
    {
      "parameters": {
        "name": "perplexity_ai_search",
        "description": "Useful when conducting research using Perplexity AI online model. When using tool, all string values must be properly escaped, especially for multi-line strings",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id}}",
          "cachedResultName": "={{ $workflow.id}}"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"perplexity search term\"\n     },\n    \"window\" :{\n       \"type\": \"string\",\n       \"description\": \"the time window to query. Can be one of these values : day, week, month\"\n\t}\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        180,
        720
      ],
      "id": "0dddba7c-eff1-4c92-bf65-60ccac57d627",
      "name": "Perplexity_tool2"
    },
    {
      "parameters": {
        "name": "perplexity_ai_search",
        "description": "Useful when conducting research using Perplexity AI online model. When using tool, all string values must be properly escaped, especially for multi-line strings",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id}}",
          "cachedResultName": "={{ $workflow.id}}"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"perplexity search term\"\n     },\n    \"window\" :{\n       \"type\": \"string\",\n       \"description\": \"the time window to query. Can be one of these values : day, week, month\"\n\t}\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        720
      ],
      "id": "f2a2203c-ccdd-4544-b535-fdff53656076",
      "name": "Perplexity_tool1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RyswltyGeZad7xxb0lbvQz-_NdZ0PAlY0s5ljAJi1cw",
          "mode": "list",
          "cachedResultName": "Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RyswltyGeZad7xxb0lbvQz-_NdZ0PAlY0s5ljAJi1cw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RyswltyGeZad7xxb0lbvQz-_NdZ0PAlY0s5ljAJi1cw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -900,
        380
      ],
      "id": "336cf41d-8028-4cdf-a51f-c289a54afaa6",
      "name": "News to Monitor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -680,
        380
      ],
      "id": "e08e666d-ee6a-4eeb-b056-f3ce47241dba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2080,
        740
      ],
      "id": "9f808231-f989-4b55-9290-dfd57eddddb7",
      "name": "OpenAI Chat Model3"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-07T07:47:17.687Z",
      "updatedAt": "2025-03-07T07:47:17.687Z",
      "id": "J3OaeY3Ui73uBML9",
      "name": "news"
    },
    {
      "createdAt": "2024-10-09T22:02:05.295Z",
      "updatedAt": "2024-10-09T22:02:05.295Z",
      "id": "L9MrGshyiPkxrtgY",
      "name": "AI_Agent"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-07T07:47:25.000Z",
  "versionId": "860fc17d-b583-45cd-9133-81169eae99bb"
}