workflows/o2PgOsp76ZIe5STh.json
{
  "active": false,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sitemap": {
      "main": [
        [
          {
            "node": "Convert Sitemap to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set sitemap URL": {
      "main": [
        [
          {
            "node": "Get Sitemap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Sitemap to JSON": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "‘Test workflow’ trigger": {
      "main": [
        [
          {
            "node": "Set sitemap URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter URLs": {
      "main": [
        [
          {
            "node": "Store URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-07T21:18:36.724Z",
  "id": "o2PgOsp76ZIe5STh",
  "meta": {
    "templateId": "3133",
    "templateCredsSetupCompleted": true
  },
  "name": "Extract & Process Specific Links from sitemap.xml",
  "nodes": [
    {
      "parameters": {},
      "id": "38910330-5286-4f3f-b62e-9216acccd503",
      "name": "‘Test workflow’ trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6c5ac86-6d67-42fb-96ec-9826caf452e2",
              "name": "sitemapUrl",
              "type": "string",
              "value": "https://theanalyst.com/post-sitemap7.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5991b-62d9-45ca-962f-c1077f3bce19",
      "name": "Set sitemap URL",
      "type": "n8n-nodes-base.set",
      "position": [
        260,
        420
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "id": "0d957deb-5830-4077-97e4-437dc7c0e527",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        800,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.sitemapUrl }}",
        "options": {}
      },
      "id": "7021088c-dfa1-4aae-b2e7-15b0ca10a750",
      "name": "Get Sitemap",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        420
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {
          "ignoreAttrs": true,
          "mergeAttrs": true,
          "normalize": true,
          "normalizeTags": true,
          "trim": true
        }
      },
      "id": "d3b86577-01fc-40f8-ab65-93ba420187b8",
      "name": "Convert Sitemap to JSON",
      "type": "n8n-nodes-base.xml",
      "position": [
        620,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bf8e98c-b6c5-4129-852c-0d3e63f32f9f",
              "operator": {
                "type": "string",
                "operation": "regex"
              },
              "leftValue": "={{ $json.loc }}",
              "rightValue": "=https?:\\/\\/.*\\/{{new Date().getFullYear()}}\\/{{$now.format(\"MM\")}}\\/.*"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc0758ae-06eb-4a29-a91e-414407ec8ade",
      "name": "Filter URLs",
      "type": "n8n-nodes-base.filter",
      "position": [
        1000,
        420
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Fetch and process the sitemap.xml file\nThis part fetches and process the sitemap.xml file from XML data to JSON that we can work with.",
        "height": 300,
        "width": 540,
        "color": 7
      },
      "id": "07e6c3de-cc72-490d-b614-67034ce04bfb",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 207010,
        "tableId": 498805,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3938349,
              "fieldValue": "={{ $json.loc }}"
            },
            {
              "fieldId": 3938353,
              "fieldValue": "={{ $json[\"image:image\"][0][\"image:loc\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1200,
        420
      ],
      "id": "4903d543-2173-483d-b46c-67a4f2bfe51b",
      "name": "Store URLs",
      "credentials": {
        "baserowApi": {
          "id": "T6ikemrOmdHh9O44",
          "name": "Baserow account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-08T18:21:31.000Z",
  "versionId": "9b29734a-738a-4f52-8bb3-2154ea0f4f27"
}